canvas{
    position: absolute;
    top: 0;
}

nav.link-list{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: inline-block;
}
nav.link-list li{
	overflow: hidden;
	float: left;
}
nav.link-list a{
	position: relative;
    width: 12px;
    height: 12px;
    margin:5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.5s ease;
}
nav.link-list.is-active{
	 background-color: #C8A36C;
}

nav.btns{
	position: absolute;
	top: 45%;
	width: 100%;
}

nav.btns button{
	position: absolute;
    display:inline-block;

	width: 44px;
	height: 44px;

	text-align: center;
	line-height: 44px;
	font-weight: bold;
	font-size: 10px;
    font-family: serif;

    border-radius:50%;
    background-color: #fff;
    cursor: pointer;
    border: 0;
    transition: all 0.5s ease;
}
nav.btns button:focus{
	outline: 0;
}
nav.btns button:before{
	content: '';
	position: absolute;
	width: 44px;
	height: 44px;
	top: 0;
	left: 0;
	border: 2px solid #C8A36C;
	border-radius: 50%;
	opacity:0;
	transition: all 0.5s ease;
}
nav.btns button span{
	opacity: 0;
	transition: opacity 0.2s ease;
}
nav.btns button:hover {
	background-color: #C8A36C;
	width: 64px;
	height: 64px;
	transform: translateY(-10px);
}
nav.btns button:hover:before{
	opacity:1;
	width: 104px;
	height: 104px;
	top: -22px;
	left: -22px;
}
nav.btns button span{
	opacity: 1;
}
nav.btns .show-prev{
	left: 10%;
}
nav.btns .show-next{
	right: 10%;
}

footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: sans-serif;
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
}
footer a {
	color: inherit;
}

.loading-txt{
	text-align: center;
	width: 100%;
	font-size: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
	
.loading-txt.is-hidden{
	display: none;
}